@media(prefers-collor-scheme:dark){
    :root{
       --body:#313131; 
       --text:#FFFFFF;

    }
}
body{
    border: var(--body);

}
@media(max-width:495px){
    .eng{
        margin-right: 50px;
    }
}
@media(max-width:440px){
    .eng{
        margin-right: 15px;
    }
}
@media(max-width:640px){
    .intro_title{
        font-size: 40px;
        width: 450px;
    }
}
@media(max-width:450px){
    .intro_title{
        font-size: 30px;
        width: 380px;
        margin-bottom: 80px;
    }
    .intro_btn{
        width: 160px;
        height: 42px;
      font-size: 17px;
    }
}
@media(max-width:400px){
    .intro_title{
        width: 310px;
        font-size: 28px;
    }
    .button-w{
        font-size: 13px;
    }
}
@media(max-width:425px){
    .a-img{
        width: 100%;
    }
}
@media(max-width:432px){
    .apple_btn{
        gap: 11px;
        justify-content: center;
    }
}
